@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";

@plugin "daisyui" {
    themes: light --default
}

@source "../node_modules/flowbite";

:root {
  --background: #F9FAFB;
  --foreground: #171717;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
}

@theme inline {
  --color-primary: oklch(62.252% 0.15662 260.72);
  --color-primary-50: oklch(95.952% 0.01488 260.73);
  --color-primary-100: oklch(92.238% 0.02846 261.48);
  --color-primary-200: oklch(84.484% 0.05974 261.87);
  --color-primary-300: oklch(77.031% 0.09116 261.46);
  --color-primary-400: oklch(69.364% 0.12379 261.06);
  --color-primary-500: oklch(62.252% 0.15662 260.72);
  --color-primary-600: oklch(53.981% 0.19461 260.71);
  --color-primary-700: oklch(45.878% 0.16203 260.86);
  --color-primary-800: oklch(37.689% 0.12803 260.64);
  --color-primary-900: oklch(28.799% 0.09291 260.89);
  --color-primary-950: oklch(24.261% 0.07313 261.05);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-jakarta: var(--font-jakarta);
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";

  --color-primary: oklch(62.252% 0.15662 260.72);
  --color-primary-50: oklch(95.952% 0.01488 260.73);
  --color-primary-100: oklch(92.238% 0.02846 261.48);
  --color-primary-200: oklch(84.484% 0.05974 261.87);
  --color-primary-300: oklch(77.031% 0.09116 261.46);
  --color-primary-400: oklch(69.364% 0.12379 261.06);
  --color-primary-500: oklch(62.252% 0.15662 260.72);
  --color-primary-600: oklch(53.981% 0.19461 260.71);
  --color-primary-700: oklch(45.878% 0.16203 260.86);
  --color-primary-800: oklch(37.689% 0.12803 260.64);
  --color-primary-900: oklch(28.799% 0.09291 260.89);
  --color-primary-950: oklch(24.261% 0.07313 261.05);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-jakarta: var(--font-jakarta);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jakarta);
}

@utility btn {
  @apply rounded-lg;
}

@utility input {
    @apply rounded-lg border border-neutral-300 shadow/3;
}

@utility avatar-group {
  :where(.avatar) {
    @apply border-[3px];
  }
}
